@font-face {
    font-family: 'Brains';
    src: url('/Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Brains-H';
    src: url('/Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold.woff') format('woff');
}

.AllKeys {
    /*display: flex;*/
    padding-left: auto;
    padding-right: auto;
    /*overflow: auto;*/
}

body {
    background-color: rgba(0, 0, 0, 0.800);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#number-screen{
    display: flex;
    /*align-content: space-between;*/
    justify-content: center;
    /*overflow: auto;*/
}

.screen {
    background-color: rgb(10, 22, 0);
    color: white;
    font-size: 20px;
    font-family: 'Brains';
    /*border:5px solid gray;*/
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
}

.numpad-zone-supp {
    display: flex;
    justify-content: center;
    /*align-content: space-around;*/
    padding-left: 14px;
    padding-right: 14px;
}

.numpad-zone {
    display: flex;
    /*justify-content: center;*/
    align-content: space-evenly;
}

/*Basic Key*/
.touch{
    background-color: rgba(179, 168, 148, 0.415);
    border:1px solid gray;
    font-family: 'Brains-H';
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color:whitesmoke;
    padding: 15px;
    font-size: 20px;
    margin: 2px;
}
.touch:active {
    background-color: whitesmoke;
    color: black;
}
.touch:hover {
    background-color: rgba(245, 245, 245, 0.445);
}

/* Equal Key */
.touchEqual {
    background-color: rgba(0, 255, 136, 0.596);
    border:1px solid rgb(0, 255, 149);
    font-family: 'Brains-H';
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color:whitesmoke;
    /*padding: 15px;*/
    padding-right: 45px;
    padding-left: 45px;
    font-size: 20px;
    margin: 2px;
}
.touchEqual:active {
    
    background-color: whitesmoke;
    color: rgb(0, 116, 0);
}
.touchEqual:hover {
    background-color: rgba(0, 116, 0, 0.534);
}

/* Function Key */
.touchFn {
    background-color: rgba(255, 0, 0, 0.596);
    border:1px solid rgb(255, 65, 65);
    font-family: 'Brains-H';
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color:whitesmoke;
    padding: 15px;
    font-size: 20px;
    margin: 2px;
}
.touchFn:active{
    background-color: whitesmoke;
    color: rgb(116, 0, 0);
}
.touchFn:hover {
    background-color: rgba(116, 0, 0, 0.493);
}

/* Del Key */
.touchDel {
    background-color: rgb(255, 166, 0);
    border:1px solid rgb(255, 227, 65);
    font-family: 'Brains-H';
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color:rgb(0, 0, 0);
    padding: 15px;
    font-size: 20px;
    margin: 2px;
}
.touchDel:active{
    background-color: whitesmoke;
    color: rgb(116, 79, 0);
}
.touchDel:hover {
    background-color: rgb(116, 70, 0);
    color: whitesmoke;
}

/*Const Keys*/
.touchConst{
    background-color: rgba(122, 112, 175, 0.664);
    border:1px solid rgb(95, 73, 221);
    font-family: 'Brains-H';
    border-radius: 5px;
    backdrop-filter: blur(10px);
    color:whitesmoke;
    padding: 15px;
    font-size: 20px;
    margin: 2px;
}
.touchConst:active {
    background-color: whitesmoke;
    color: black;
}
.touchConst:hover {
    background-color: rgba(0, 5, 77, 0.445);
}

/**/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*margin-top: 180px;*/
}

.calcPartFunc {
    margin: 10px;
}
.number-functions {
    margin: 10px;
}